<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="6DOF_URDF">

  <!-- Materials (shared across all assemblies) -->
  <material name="PETG_15_Gyroid">
    <color rgba="0.098 0.098 0.098 1.0"/>
  </material>

  <!-- Assembly includes -->
  <xacro:include filename="$(find 6DOF_URDF_description)/urdf/assemblies/6DOF_URDF.urdf.xacro"/>

  <!-- Instantiate assemblies -->
  <xacro:assembly_6DOF_URDF prefix=""/>

</robot>