<?xml version="1.0"?>
<robot name="6DOF_URDF">

  <!-- Materials -->
  <material name="PETG_15_Gyroid">
    <color rgba="0.098 0.098 0.098 1.0"/>
  </material>
  <material name="Steel">
    <color rgba="1.000 1.000 1.000 1.0"/>
  </material>

  <link name="base_link">
    <inertial>
      <origin xyz="-0.000000 0.000000 -0.031604" rpy="0 0 0"/>
      <mass value="0.601590"/>
      <inertia ixx="8.670932e-04" ixy="0.000000e+00" ixz="0.000000e+00"
               iyy="8.670932e-04" iyz="0.000000e+00" izz="1.232945e-03"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <mesh filename="package://6DOF_URDF_description/meshes/6DOF_URDF/base_link.dae" scale="1 1 1"/>
      </geometry>
      <material name="PETG_15_Gyroid"/>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <mesh filename="package://6DOF_URDF_description/meshes/6DOF_URDF/base_link_collision.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>
  </link>

  <link name="Base_Motor">
    <inertial>
      <origin xyz="0.049697 -0.108760 -0.020987" rpy="0 0 0"/>
      <mass value="2.098842"/>
      <inertia ixx="2.679976e-02" ixy="3.861349e-03" ixz="-5.600426e-04"
               iyy="3.790863e-03" iyz="1.696564e-03" izz="2.827367e-02"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 -0.000600" rpy="3.141593 0.000000 0.000000"/>
      <geometry>
        <mesh filename="package://6DOF_URDF_description/meshes/6DOF_URDF/Base_Motor.dae" scale="1 1 1"/>
      </geometry>
      <material name="Steel"/>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 -0.000600" rpy="3.141593 0.000000 0.000000"/>
      <geometry>
        <mesh filename="package://6DOF_URDF_description/meshes/6DOF_URDF/Base_Motor_collision.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>
  </link>

  <link name="UA_Motor">
    <inertial>
      <origin xyz="-0.081949 -0.130878 0.071799" rpy="0 0 0"/>
      <mass value="1.315683"/>
      <inertia ixx="5.586235e-03" ixy="-2.437625e-03" ixz="1.020418e-04"
               iyy="4.787916e-03" iyz="1.483998e-04" izz="5.396456e-03"/>
    </inertial>
    <visual>
      <origin xyz="-0.077066 -0.122959 0.060400" rpy="-3.141593 0.000000 2.443461"/>
      <geometry>
        <mesh filename="package://6DOF_URDF_description/meshes/6DOF_URDF/UA_Motor.dae" scale="1 1 1"/>
      </geometry>
      <material name="Steel"/>
    </visual>
    <collision>
      <origin xyz="-0.077066 -0.122959 0.060400" rpy="-3.141593 0.000000 2.443461"/>
      <geometry>
        <mesh filename="package://6DOF_URDF_description/meshes/6DOF_URDF/UA_Motor_collision.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>
  </link>

  <link name="Elbow_Connector_Passive">
    <inertial>
      <origin xyz="-0.019245 0.011518 0.062617" rpy="0 0 0"/>
      <mass value="3.223631"/>
      <inertia ixx="4.864071e-03" ixy="3.444810e-03" ixz="3.038557e-04"
               iyy="8.503665e-03" iyz="-1.358472e-04" izz="9.997296e-03"/>
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <mesh filename="package://6DOF_URDF_description/meshes/6DOF_URDF/Elbow_Connector_Passive.dae" scale="1 1 1"/>
      </geometry>
      <material name="Steel"/>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <mesh filename="package://6DOF_URDF_description/meshes/6DOF_URDF/Elbow_Connector_Passive_collision.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>
  </link>

  <link name="Roll_Housing">
    <inertial>
      <origin xyz="0.041154 -0.253297 -0.010541" rpy="0 0 0"/>
      <mass value="0.777648"/>
      <inertia ixx="2.292696e-03" ixy="1.323394e-06" ixz="-2.147043e-06"
               iyy="1.753582e-03" iyz="-2.028961e-04" izz="8.080313e-04"/>
    </inertial>
    <visual>
      <origin xyz="0.041229 -0.283510 -0.047460" rpy="-1.570796 1.570796 0.000000"/>
      <geometry>
        <mesh filename="package://6DOF_URDF_description/meshes/6DOF_URDF/Roll_Housing.dae" scale="1 1 1"/>
      </geometry>
      <material name="Steel"/>
    </visual>
    <collision>
      <origin xyz="0.041229 -0.283510 -0.047460" rpy="-1.570796 1.570796 0.000000"/>
      <geometry>
        <mesh filename="package://6DOF_URDF_description/meshes/6DOF_URDF/Roll_Housing_collision.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>
  </link>

  <link name="20mm">
    <inertial>
      <origin xyz="-0.160624 0.152440 -0.069417" rpy="0 0 0"/>
      <mass value="0.318715"/>
      <inertia ixx="1.638087e-04" ixy="5.662339e-05" ixz="-3.202578e-11"
               iyy="1.870873e-04" iyz="-1.709404e-10" izz="2.324443e-04"/>
    </inertial>
    <visual>
      <origin xyz="-0.184366 0.172623 -0.069417" rpy="2.443461 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="package://6DOF_URDF_description/meshes/6DOF_URDF/20mm.dae" scale="1 1 1"/>
      </geometry>
      <material name="Steel"/>
    </visual>
    <collision>
      <origin xyz="-0.184366 0.172623 -0.069417" rpy="2.443461 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="package://6DOF_URDF_description/meshes/6DOF_URDF/20mm_collision.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>
  </link>

  <joint name="Revolute_5" type="revolute">
    <parent link="base_link"/>
    <child link="Base_Motor"/>
    <origin xyz="-0.048850 0.117229 0.068000" rpy="0.000000 0.000000 0.000000"/>
    <axis xyz="0.000000 0.000000 1.000000"/>
    <limit lower="0.000000" upper="6.283185" effort="100.0" velocity="1.00"/>
  </joint>

  <joint name="Revolute_13" type="revolute">
    <parent link="Base_Motor"/>
    <child link="UA_Motor"/>
    <origin xyz="0.076040 -0.153400 -0.055062" rpy="-1.570796 0.000000 0.000000"/>
    <axis xyz="0.000000 0.000000 1.000000"/>
    <limit lower="0.000000" upper="6.283185" effort="100.0" velocity="1.00"/>
  </joint>

  <joint name="Rigid_25" type="fixed">
    <parent link="UA_Motor"/>
    <child link="Elbow_Connector_Passive"/>
    <origin xyz="-0.140442 -0.202376 0.018900" rpy="0.000000 0.000000 -0.698132"/>
  </joint>

  <joint name="Revolute_37" type="revolute">
    <parent link="Elbow_Connector_Passive"/>
    <child link="Roll_Housing"/>
    <origin xyz="0.106612 0.079606 -0.186510" rpy="-1.570796 0.000000 -0.610865"/>
    <axis xyz="0.000000 0.000000 1.000000"/>
    <limit lower="0.000000" upper="6.283185" effort="100.0" velocity="1.00"/>
  </joint>

  <joint name="Revolute_43" type="revolute">
    <parent link="Roll_Housing"/>
    <child link="20mm"/>
    <origin xyz="0.251183 -0.314427 0.170791" rpy="1.570796 -1.308997 0.000000"/>
    <axis xyz="0.000000 0.000000 1.000000"/>
    <limit lower="0.000000" upper="6.283185" effort="100.0" velocity="1.00"/>
  </joint>

  <!-- ROS 2 control: generated generic system -->
  <ros2_control name="6DOF_URDF_system" type="system">
    <hardware>
      <plugin>mock_components/GenericSystem</plugin>
      <param name="cmd_topic">sim/6DOF_URDF_system/cmd</param>
      <param name="state_topic">sim/6DOF_URDF_system/state</param>
    </hardware>

    <joint name="Revolute_13">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="Revolute_37">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="Revolute_43">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="Revolute_5">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>

</robot>